# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
.venv-17.0/
.venv-18.0/
.venv-19.0/
venv/
ENV/

# Local env & secrets
.env
.env.*
*.env

# Logs
*.log
logs/

# Node/Frontend
node_modules/
.dist/
.build/
